# Add packages with CONFIG_PACKAGE_<name>=y
# Disable packages with # CONFIG_PACKAGE_<name> is not set

CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-firewall=y

# Examples:
# CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-upnp=y
# CONFIG_PACKAGE_luci-app-samba4=y
# CONFIG_PACKAGE_luci-app-ddns=y
# CONFIG_PACKAGE_luci-app-wol=y

