# Add packages with CONFIG_PACKAGE_<name>=y
# Disable packages with # CONFIG_PACKAGE_<name> is not set

# Base LuCI
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_kmod-nft-offload=y

# Airoha firmware and status
CONFIG_PACKAGE_airoha-en7581-npu-firmware=y
CONFIG_PACKAGE_airoha-en8811h-firmware=y
CONFIG_PACKAGE_luci-app-airoha-npu=y

# Network and utilities
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-unblockneteasemusic=y

# Third-party plugin fetched by diy.sh
CONFIG_PACKAGE_gecoosac=y
CONFIG_PACKAGE_luci-app-gecoosac=y
